@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel:wght@500&family=Dancing+Script&family=Great+Vibes&family=Lobster&family=Noto+Serif+JP:wght@500&family=Oswald:wght@200;400;700&family=Playfair+Display:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,100;1,100;1,200;1,300;1,900&display=swap');

/*Não esqueça do readme*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    transition: 0.2s all;
    list-style: none;
}

body {
    background-color: #0c2d2e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

#buttons-container button:hover,
#buttons-container button.button-hover {
    background-color: #afafaf;
    color: #333;
}

#calc {
    width: 400px;
    background-color: #fff;
    color: #333;
    padding: 1.5em;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: 3em;
    font-weight: 400;
    color: #0e3536;
    text-align: center;
    margin-bottom: .5em;
    font-family: 'Lobster', cursive;
}

#operations {
    text-align: right;
}

#previous-operation {
    color: #777;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
    max-height: 1.6em;
    margin-bottom: 0.5em;
}

#current-operation {
    background-color: #f1f0f0;
    border-radius: 7px;
    min-height: 2em;
    font-size: 2em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
    margin-bottom: 0.5em;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 10px;
    height: 70px;
    font-size: 1.2em;
    background-color: #eee;
    cursor: pointer;
    transition: 0.2s all;
}

#buttons-container .number {
    background-color: #d1d1d1;
    color: #333;
}

#buttons-container .number:hover {
    background-color: #afafaf;
    color: #333;
}

#buttons-container button:hover {
    background-color: #ccc;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #103c3d;
    color: #fff;
}

#buttons-container #equal-btn:hover {
    background-color: #0c2d2e;
}

#buttons-container #clear-btn {
    background-color: #ff4444;
    color: #fff;
}

#buttons-container #clear-btn:hover {
    background-color: #cc0000;
}

#buttons-container #del-btn {
    background-color: #ffbb33;
    color: #333;
}

#buttons-container #del-btn:hover {
    background-color: #ff8800;
}

#buttons-container #dot-btn {
    background-color: #d1d1d1;
    color: #333;
}

#buttons-container #dot-btn:hover {
    background-color: #ccc;
}

div.fixo-nome {
    position: fixed;
    left: 89%;
    top: 90%;
    min-width: 89%;
}

div.fixo-nome h3 {
    color: #c9c9ee;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px #32335a;
    font-weight: 100;
    border-bottom: solid 2px #c9c9ee;
    font-size: 1.4rem;
}

div.fixo-nome span {
    color: #F4A179;
    font-family: 'Lobster', cursive;
}

div.fixo-nome p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgba(234, 248, 29, 0.692), rgb(23, 201, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

